@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&family=Roboto+Mono:ital,wght@1,100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    display: flex;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
    background: url("./pexels-johannes-plenio-1103970.jpg") no-repeat;
}
.sideText{
    width: 50% ;
    font-size: 2.5rem;
    text-align: center;
    -webkit-text-stroke : 1px #000;
    color: #fff;
    text-shadow: #000 3px 5px 2px;
}
.form_card{
    text-align: center;
    border: 2px solid black;
    padding: 15px;
    background-color: #fae1df;
    box-shadow: 2px 2px 2px 2px rgba(59, 57, 57, 0.788);
}
form h1 {
    font-family: 'Playfair Display', serif;
    font-weight: bolder;
    text-shadow:0 0 2px #161616;
    
    letter-spacing: 2.4px;
}
form input {
    text-align: center;
    color: black;
}

#login{
    padding: 5px;
    border-radius: 25px;
    cursor: pointer;
    background-color: #96abb6;
    font-weight: bold;
}
.forgetPassword{
    margin: 10px;
    font-size: 0.8rem;
}
.forgetPassword a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}

@media screen and (max-width : 250px) {
    .form_card{
        /* text-align: center; */
        width: 100%;
        height: 45%;
    }
}
