*{
    margin: 0;
    padding: 0;
}
.main_con{
    background-color: cornflowerblue;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form_card{
    background-color: cornsilk;
    text-align: center;
    width: 25%;
    padding: 20px;
    border: 2px solid black;
    border-radius: 50px;
    box-shadow: 2px 3px 2px 2px rgba(59, 57, 57, 0.788);
}
#add_user{
    padding: 5px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: cornflowerblue;
    font-weight: bold;
    cursor: pointer;
}
