.sidebar{
    flex :1;
    height: calc(100vh - 50px);
    background-color: rgb(251,251, 255);
    position: sticky;
    top: 50px;
}
.sidebarWrapper{
    padding: 15px !important;
    color: #555;
}
.sidebarMenu{
    margin-bottom: 10px !important;
}
.sidebarTitle{
    color: rgb(182, 182, 182);
}
.sidebarList{
    list-style: none;
    padding: 10px;
}
.sidebarListItem{
    margin: 5px;
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.itemTitle{
    margin-left: 6px;
    text-decoration: none;
    color: #555;
}

.sidebarListItem:hover {
    background-color: rgb(225, 225, 241);
}
