.featuredItem{
    margin: 35px 0;
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 30px;
    justify-content: space-evenly;
    align-items: center;
}
.heading{
    border: 1px solid;
    padding: 10px;
    color: #555;
    background-color: white ;
}
.heading:hover{
    color : black;
    background-color: #bee3db;
    cursor: pointer;

}

.featuredItemCard{
    background-color: #fff1ea;
    border: 1px solid;
    width: 300px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 9px 10px 12px -3px rgba(0,0,0,0.52);
    -webkit-box-shadow: 9px 10px 12px -3px rgba(0,0,0,0.52);
    -moz-box-shadow: 9px 10px 12px -3px rgba(0,0,0,0.52);
    cursor: pointer;
    
}
.featuredValue{
    margin: 6px;
    font-size: 50px;
}
.featuredSub{
    /* margin: 10px; */
    font-size: 15px;
    font-weight: 700;
    color: #555;
}

.featuredItemCard:hover{
    background-color: #ffe8d6;
}
