body{
    background: #1282a2;
}

.card{
    display: flex;
    height: 90vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}
/* FINAL TOUCHES OF THE CARD */
.card1{
    background: #0a1128;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 15px;
    width: 20%;
    height: 55%;
    color: cornsilk;
    /* border-radius: 100px; */
    box-shadow: 0 0 20px #ffc0c0;
    justify-content: center;
    align-items: center;
}

.Linkcolor{
    color: white;
    text-decoration: none;

}