.topbar{
    width: 100%;
    height: 50px;
    background: white;
    position: sticky;
    top: 0;
    z-index: 999;

}
.topbarWrapper{
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-weight: bold;
    font-size: 30px;
    color: deepskyblue;
    cursor: pointer;
    text-decoration: none;
 }
  button{
    padding-top: 5px;
    border: none;
    background: none;
    color: #555;
    cursor: pointer;
}